<section class="product">
   <div class="product__inner">
      <h1 class="product__title">Стрелы Амура, 18+</h1>
      <div class="product__tags">
         <div class="tag">квест</div>
         <div class="tag">для 2 человек</div>
         <div class="tag">для дома</div>
         <div class="tag">сложность 7/10</div>
      </div>
      <p>Романтический квест по поиску подарка для второй половинки: мужа, жены, парня или девушки. Чтобы собрать 7 стрел бога любви Амура и разыскать подарок, игроку нужно выполнить задания древних богов.</p>
   </div>
   <div class="product__img">
      <img src="images/main.avif" alt="">
   </div>
   <div class="popular">самый популярный</div>
</section>